<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vetalitet.themes">

    <application>
        <!--<provider
            android:authorities="com.vetalitet.themes.provider"
            android:name=".ThemesApplicationProvider" />-->
    </application>

</manifest>