<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vetalitet.ui">

    <application>
        <provider
            android:name=".di.setup.InitKoinContentProvider"
            android:authorities="${applicationId}.koin"
            android:exported="false"
            android:enabled="true" />
        <activity android:name=".NavigationActivity" />
    </application>

</manifest>
